<html>
<head><title>Ansible Demo for Apache2 on Ubuntu!!</title></head>
<body>
<H1>Congratulations!</h1>
<p>Apache2 successfully installed on Ubuntu. Config file copied. Index.html copied.</p>
</body>
</html>
